
@{
	ViewData["Title"] = "Cart";
	decimal orderTotal = 0;
	decimal totalDiscount = 0;

	foreach(var cartItem in ViewBag.CartItems)
	{
		int size = cartItem.Size;
		decimal price = 0;
		decimal discountPerc = cartItem.Product.DiscountPercentage;
		decimal discountAmount = 0;


		switch (size)
		{
			case 1:

				decimal smallPrice = cartItem.Product.SmallPrice;
				price = smallPrice;
				orderTotal = orderTotal + smallPrice;
				break;
			case 2:
				decimal medPrice = cartItem.Product.MediumPrice;
				price = medPrice;
				orderTotal = orderTotal + medPrice;
				break;
			case 3:
				decimal larPrice = cartItem.Product.LargePrice;
				price = larPrice;
				orderTotal = orderTotal + larPrice;
				break;
			case 4:
				decimal exPrice = cartItem.Product.ExtraLargePrice;
				price = exPrice;
				orderTotal = orderTotal + exPrice;
				break;



		}
		if (discountPerc > 0)
		{
			discountAmount = price * discountPerc;
			price = price - discountAmount;
			totalDiscount = totalDiscount + discountAmount;
		}

		orderTotal = orderTotal + price;

	}
	decimal beforeDiscount = orderTotal + totalDiscount;
}
	
<h2 id="counter"></h2>


<div class="container-fluid row">
	@{
		if(ViewBag.CartItems.Count > 0)
		{
			
		if (ViewBag.CartItems.Count > 1)
		{
			<span class="display-6"> @ViewBag.CartItems.Count Items</span>
		}
		else
		{
			<span class="display-6"> @ViewBag.CartItems.Count Item</span>
		}
		}
	}
</div>

<div class="container-fluid row">
	
		@if (ViewBag.CartItems.Count == 0)
		{
			<p class="display-4 col-sm">The cart is empty!  Items you add will show up here.</p>
		}
		else
		{
		<ul id="cart" class="list-unstyled list-group col-sm">
		@foreach(var cartItem in ViewBag.CartItems)
		{
			<li class="list-group-item m-4 p-3 d-flex flex-column">
				<div class = "d-flex justify-content-between">

				<div class="w-50">

					<h3>@cartItem.Product.Name</h3><br/>
					<h5>@cartItem.SizeName</h5><br/>
				</div>
				<figure class ="w-25">
				<img src="~/Images/@cartItem.Product.ImgName" alt="@cartItem.Product.Name" class="img-thumbnail">
				</figure>
				</div>
				<form asp-controller="Cart" asp-action="Remove" method="post">
					<input type ="hidden" name="name" value="@cartItem.Name"/>
					<button class="btn btn-primary" type="submit">Delete</button>
				</form>
				</li>
			
		
			}
		</ul>
	}

	<div class="col-sm-2 m-1">
	<span>
			Order Cost:<br/>
			@if(totalDiscount != 0)
			{
			<span class="text-warning text-decoration-line-through">$@beforeDiscount</span>  <br />
			<span class="text-success mx-1">- $@totalDiscount</span><br />
			}
			$@orderTotal
			
	</span><br/>
	<span>Credit Card: ********** <span id="orderTotal"></span></span><br/>
	<button class="btn btn-primary">Place Order</button>
</div>


</div>